/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Search Box
7. Rooms
8. Room
9. Newsletter
10. Contact
11. Footer


******************************/

/***********

/*********************************
2. Body and some general stuff
*********************************/

/*********************************
4. Menu
*********************************/

.menu {
  position: fixed;
  left: 0;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background: #0b1423;
  z-index: 99;
  -webkit-transition: all 800ms cubic-bezier(0.88, 0.31, 0.65, 0.91);
  -moz-transition: all 800ms cubic-bezier(0.88, 0.31, 0.65, 0.91);
  -ms-transition: all 800ms cubic-bezier(0.88, 0.31, 0.65, 0.91);
  -o-transition: all 800ms cubic-bezier(0.88, 0.31, 0.65, 0.91);
  transition: all 800ms cubic-bezier(0.88, 0.31, 0.65, 0.91);
}
.menu.active {
  top: 0;
}
.menu_content {
  width: 100%;
  height: 100%;
}
.menu_nav_list li {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
.menu_nav_list li:first-child {
  transition-delay: 400ms;
}
.menu_nav_list li:nth-child(2) {
  transition-delay: 500ms;
}
.menu_nav_list li:nth-child(3) {
  transition-delay: 600ms;
}
.menu_nav_list li:nth-child(4) {
  transition-delay: 700ms;
}
.menu_nav_list li:nth-child(5) {
  transition-delay: 800ms;
}
.menu_nav_list li:nth-child(6) {
  transition-delay: 900ms;
}
.menu_nav_list li:nth-child(7) {
  transition-delay: 1000ms;
}
.menu_nav_list li:nth-child(8) {
  transition-delay: 1100ms;
}
.menu_nav_list li:nth-child(9) {
  transition-delay: 1200ms;
}
.menu.active .menu_nav_list li {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}
.menu_nav_list li a {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.3;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu_nav_list li a::after {
  display: block;
  position: absolute;
  top: 63%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -15px;
  width: 0%;
  height: 3px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu_nav_list li a:hover {
  color: #da8661;
}
.menu_nav_list li a:hover::after {
  width: calc(100% + 30px);
}
.menu_review {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 15px;
}
.menu_review a {
  white-space: nowrap;
  line-height: 1.1;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_review a:hover {
  color: #da8661;
}

/*********************************
5. Home
*********************************/

.home {
  width: 100%;
  height: 446px;
}
.home_container {
  position: absolute;
  left: 0;
  top: 205px;
  width: 100%;
}
.home_title h1 {
  font-size: 48px;
  color: #ffffff;
}
.home_text {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #ffffff;
  line-height: 2.25;
  margin-top: 12px;
}

/*********************************
6. Search Box
*********************************/

.search_box {
  background: transparent;
}
.search_box_container {
  width: calc(100% + 117px);
  left: -69px;
  height: 233px;
  background: #2e3f61;
  margin-top: -117px;
  box-shadow: 0px 3px 57px rgba(0, 0, 0, 0.35);
  z-index: 1;
  padding-left: 83px;
  padding-right: 66px;
}
.search_form_container {
  width: 100%;
}
.search_form {
  display: block;
  width: 100%;
}
.search_form > div {
  width: 100%;
  height: 100%;
}
.search_form_list {
  width: calc(100% - 172px);
  height: 100%;
}
.search_form_list > li {
  position: relative;
  width: 20%;
  height: 73px;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 16px;
  background: #ffffff;
}
.search_form_list > li:not(:last-child) {
  border-right: solid 2px #d1d1d1;
}
.search_form_list > li::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #da8661;
  content: "";
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.search_form_list > li:hover::after {
  visibility: visible;
  opacity: 1;
}
.search_form_list > li span {
  font-size: 13px;
  font-weight: 500;
  color: #6b6b6b;
}
.search_form_list > li i {
  font-size: 10px;
  font-weight: 500;
  color: #a3a3a3;
}
.search_form_list > li > ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #ffffff;
  padding-left: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.search_form_list > li.active > ul {
  visibility: visible;
  opacity: 1;
}
.search_form_list > li > ul > li:not(:last-of-type) {
  margin-bottom: 10px;
}
.search_form_list > li > ul > li {
  font-size: 13px;
  font-weight: 500;
  color: #a3a3a3;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.search_form_list > li > ul > li:hover {
  color: #6b6b6b;
}
.search_button {
  width: 172px;
  height: 73px;
  background: #637496;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
}

/*********************************
7. Rooms
*********************************/

.rooms {
  padding-top: 0px;
  background: rgb(255, 255, 255);
  padding-bottom: 0px;
}

@media only screen and (min-width: 1280px) {
  .rooms {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1139px) {
  .rooms {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 950px) {
  .rooms {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .rooms {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 340px) {
  .rooms {
    padding-top: 20px;
  }
}

.rooms_image {
  width: 100%;
  text-align: center;
}
.rooms_item {
  background: #f1f6f7;
  padding-bottom: 54px;
  margin-bottom: 50px;
}
.rooms_image img {
  max-width: 100%;
  height: 470px;
}
.rooms_title_container {
  padding-top: 40px;
  padding-bottom: 35px;
  border-bottom: solid 2px #da8661;
}
.rooms_title h1 {
  font-size: 36px;
  color: #717171;
  line-height: 1.2;
}
.rooms_price {
  font-size: 10.76px;
  font-weight: 500;
  color: #717171;
  margin-top: 12px;
  line-height: 0.75;
}
.rooms_price span {
  font-size: 24.22px;
}
.rooms_list {
  padding-left: 39px;
  padding-top: 42px;
  padding-right: 20px;
}
.rooms_list ul li > div:first-child > div {
  width: 180px;
}
.rooms_list ul li > div {
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}
.rooms_list ul li:not(:last-of-type) {
  margin-bottom: 15px;
}
.rooms_button {
  margin-top: 47px;
}

/*********************************
8. Room
*********************************/

.room {
  width: 100%;
  background: #2e3f61;
}
.room .container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.room .container .row {
  margin-left: 0px;
  margin-right: 0px;
}
.room .container .row .col {
  padding-left: 0px;
  padding-right: 0px;
}
.room_content {
  width: 612px;
  padding-left: 95px;
  padding-top: 46px;
  padding-bottom: 52px;
  padding-right: 88px;
}
.room_title {
  padding-left: 13px;
}
.room_content .section_title h1 {
  color: #ffffff;
}
.room_price {
  font-size: 16px;
  font-weight: 400;
  color: #82868e;
  margin-top: 12px;
}
.room_price span {
  font-size: 36px;
  color: #ffffff;
}
.room_list {
  padding-right: 80px;
  border-top: solid 1px #5c6984;
  margin-top: 31px;
  padding-top: 38px;
  padding-left: 13px;
}
.room_list ul li:not(:last-of-type) {
  margin-bottom: 24px;
}
.room_list ul li > div:first-child > div {
  width: 273px;
}
.room_list ul li > div {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.room_image {
  position: absolute;
  top: 0;
  left: 612px;
  width: calc(100% - 612px);
  height: 100%;
}
.room_button {
  margin-top: 56px;
  margin-left: 13px;
}

/*********************************
9. Newsletter
*********************************/

.newsletter {
  background: #ffffff;
  padding-top: 95px;
  padding-bottom: 90px;
}
.newsletter_row {
  margin-top: 11px;
}
.newsletter_form {
  display: block;
}
.newsletter_input {
  width: 100%;
  height: 52px;
  border: solid 1px #dadfe5;
  border-bottom: solid 2px #da8661;
  outline: none;
  padding-left: 25px;
}
.newsletter_input::-webkit-input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.newsletter_input:-moz-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.newsletter_input::-moz-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.newsletter_input:-ms-input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.newsletter_input::input-placeholder {
  font-size: 12px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 151px;
  height: 52px;
  background: #637496;
  z-index: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.newsletter_button::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: "";
  background: #da8661;
  z-index: -1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 400ms ease;
}
.newsletter_button:hover::before {
  width: 100%;
}

/*********************************
10. Contact
*********************************/

.contact {
  background: #ffffff;
}
.contact_map_container {
  padding-right: 42px;
}
.contact > .container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0;
}
.contact > .container > .row {
  margin-left: 0;
  margin-right: 0;
}
.contact > .container > .row > div[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}
.contact_map {
  width: 100%;
}
.map {
  width: 100%;
}
.google_map {
  width: 100%;
  height: 722px;
}
.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contact_info_box {
  position: absolute;
  top: 70px;
  right: 123px;
  width: 367px;
  height: 341px;
  background: #ffffff;
  border: solid 2px #637496;
  box-shadow: 0px 21px 29px rgba(0, 0, 0, 0.35);
}
.contact_info_list {
  max-width: 200px;
}
.contact_info_list li:not(:last-of-type) {
  margin-bottom: 24px;
}
.contact_info_icon {
  width: 29px;
  height: 29px;
}
.contact_info_icon img {
  max-width: 100%;
}
.contact_info_text {
  padding-left: 26px;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}
.contact_form_container {
  padding-left: 66px;
  padding-right: 141px;
}
.contact_form {
  margin-top: 61px;
}
.contact_row > div[class^="col"] {
  margin-bottom: 17px;
}
.contact_input {
  width: 100%;
  height: 52px;
  padding-left: 25px;
  border: solid 1px #dadfe5;
  outline: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_input:focus,
.contact_input:hover {
  border-bottom: solid 2px #da8661;
}
.contact_input::-webkit-input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.contact_input:-moz-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.contact_input::-moz-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.contact_input:-ms-input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.contact_input::input-placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  font-style: italic;
  color: #7a7a7a !important;
}
.contact_textarea {
  height: 190px;
  padding-top: 15px;
}
.contact_button {
  position: relative;
  width: 230px;
  height: 64px;
  background: #637496;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 14px;
  z-index: 1;
}
.contact_button::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: "";
  background: #da8661;
  z-index: -1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 400ms ease;
}
.contact_button:hover::before {
  width: 100%;
}
