@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.room_content
	{
		width: 542px;
	}
	.room_image
	{
		left: 542px;
		width: calc(100% - 542px);
	}
	.room_list ul li > div:first-child > div
	{
		width: 208px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.logo
	{
		position: relative;
		left: auto;
		top: auto;
		-webkit-transform: translateY(5px);
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		transform: translateY(5px);
	}
	.main_nav
	{
		margin-left: 420px;
	}
	.main_nav ul li:not(:last-of-type)
	{
		margin-right: 20px;
	}
	.main_nav ul li a
	{
		font-size: 15px;
	}
	.book_button
	{
		width: 121px;
	}
	.phone
	{
		font-size: 14px;
	}
	.phone i
	{
		font-size: 20px;
	}
	.search_box_container
	{
		padding-left: 45px;
		padding-right: 40px;
	}
	.rooms_list ul li > div:first-child > div
	{
		width: 142px;
	}
	.contact_map_container
	{
		padding-right: 0;
	}
	.contact > .container
	{
		max-width: 960px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact > .container > .row
	{
		margin-left: -15px;
		margin-right: -15px;
	}
	.contact > .container > .row > div[class^='col']
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact_form_container
	{
		padding-left: 0;
		padding-right: 0;
	}
	.contact_col
	{
		margin-top: 98px;
	}
	.contact
	{
		padding-bottom: 98px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_extra
	{
		display: none !important;
	}
	.hamburger
	{
		display: block;
	}
	.search_box_container
	{
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.search_form_list
	{
		width: 100%;
	}
	.search_form_list > li
	{
		width: 50%;
		margin-bottom: 15px;
	}
	.search_form_list > li:not(:last-child)
	{
		border-right: none;
	}
	.search_form_list > li:nth-child(odd)
	{
		border-right: solid 2px #d1d1d1;
	}
	.rooms_row > div[class^='col']:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.rooms_list ul li > div:first-child > div
	{
		width: 380px;
	}
	.room .container
	{
		max-width: 720px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.room .container .row
	{
		margin-left: -15px;
		margin-right: -15px;
	}
	.room .container .row .col
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.room_content
	{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 80px;
	}
	.room_image
	{
		position: relative;
		width: 100%;
		height: 500px;
		top: auto;
		left: auto;
	}
	.room_list ul li > div:first-child > div
	{
		width: 308px;
	}
	.newsletter_col
	{
		margin-top: 70px;
	}
	.contact > .container
	{
		max-width: 720px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_title h1
	{
		font-size: 56px;
	}
	.home_text
	{
		font-size: 14px;
		max-width: 100%;
	}
	.intro > .container
	{
		max-width: 540px;
	}
	.contact > .container
	{
		max-width: 540px;
	}
	.rooms_list ul li > div:first-child > div
	{
		width: 280px;
	}
	.room .container
	{
		max-width: 540px;
	}
	.room_list ul li > div:first-child > div
	{
		width: 248px;
	}
	.footer_content
	{
		height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.footer_logo
	{
		position: relative;
		top: auto;
		left: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		margin-top: 50px;
	}
	.footer_button
	{
		margin-top: 60px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 14px;
	}
	.home
	{
		height: 75vh;
	}
	.menu_nav_list li a
	{
		font-size: 36px;
	}
	.section_title h1
	{
		font-size: 36px;
	}
	.section_text
	{
		font-size: 14px;
	}
	.button
	{
		width: 140px;
		height: 50px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 50px;
	}
	.home_title h1
	{
		font-size: 48px;
	}
	.search_box_container
	{
		width: 100%;
		left: auto;
		margin-top: -100px;
	}
	.search_form_list > li
	{
		width: 100%;
		height: 53px;
	}
	.search_form_list > li:nth-child(odd)
	{
		border-right: none;
	}
	.search_button
	{
		width: 152px;
		height: 53px;
		font-size: 12px;
		margin-top: 6px;
	}
	.rooms_list
	{
		padding-left: 25px;
	}
	.rooms_list ul li > div:first-child > div
	{
		width: auto;
	}
	.rooms_list ul li > div:last-child
	{
		margin-left: auto;
	}
	.rooms_title h1
	{
		font-size: 30px;
	}
	.room .container
	{
		max-width: 100%;
	}
	.room_list ul li > div:first-child > div
	{
		width: auto;
	}
	.room_list
	{
		padding-right: 13px;
	}
	.room_list ul li > div:last-child
	{
		margin-left: auto;
	}
	.contact > .container
	{
		max-width: 100%;
	}
	.contact_info_box
	{
		right: auto;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.google_map
	{
		width: 100%;
		height: 500px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}
